@media (max-width: 1024px) {
section#info img {
max-width: 100%;
heigth:3%;
    }
header{
  padding: 10px 25px;
  max-height: 184px;
}
header .container{
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}    
header nav{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    order: 3;
}
section#info button {
position: relative;
bottom: 25px;
}
section#info {
  height: 480px;
  }
.contacts {
  height: auto;
}

  .rigth img {
    position: relative;
    left: 100px;
    top: 20px;
    z-index: 0;
}
#bottom .left img {
  width:300px;
  height: 300px;
}
.rigth .price {
  position: relative;
  left: 70px;
  top: 90px;
  z-index: 1;
}
  .text-info h1{
    font-size: 21px;
  }
  section#bottom {
    height: 480px;
  }
  section#bottom button {
    top:0px;
    bottom: 10px;
  }
  section#bottom .content {
    height: 325px;
  }
  .right p {
  width: auto;
  font-weight: 200;
  line-height: 33px;
  }
  section#bottom .container h1 {
    padding: 25px 0px;
    }
img.bottom-img{ 
  display: none;
}
img.last{
  bottom: 0px;
}
}


@media (max-width: 699px) {
  .right p {
    width: auto;
    height: auto;
}
.left{
  width: 100%;
  justify-content: center;
}
  section#bottom .content {
    height: auto;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.left {
  width: 100%;
}
.right {
  width: 90%;
  min-height: 400px;
}
.right button {
  position: relative;
  bottom: 15px;
}
.text-info button, .right button {
  width: auto;
}
section#bottom{
  height: auto;
}
}
@media (max-width: 520px) {
  .contacts {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    height: 11px;
    justify-content: space-between;
}
header {
  padding: 0px;
  height: 100px;
}
.contacts span img {
  display: none;
}
b{
  font-weight: normal;
}
.contacts span {
  display: inline-flex;
  justify-content: center;
}

  nav a{  
    display: none;
  }
  header .container {
    display: inline-flex;
    justify-content: space-around;
    flex-direction: column;
}
section#info {
  height: 700px;
  background:#f0ebe8;
}
section#info img {
  width: 375px;
  height: 24px;
}
section#info .container {
  background:white;
  flex-direction: column;
}
.text-info {
  padding: 0px;
  display: inline-flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.left {
  width: 100%;
  height: 100%;
}
.rigth {
  display: none;
}
.text-info button, .right button{
  position: relative;
  top: 0px;
  width: 231px;
  height: 60px;
  font-size: 17px;
  font-weight: normal;
}
section#bottom .content {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  position: relative;
  bottom: 20px;
}

section#info img.mob_price {
  display: flex;
  width: 120px;
  height: 210px;
  margin: 20px auto 0px;
} 
img.downimg, img.topimg {
  display: none;
}
.content{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  text-align: center;
}
.text-info h1{
  font-size: 16px;
}
#bottom .left {
  width: 100%;
  display: flex;
  justify-content: center;
}
#bottom .right {
  width: 100%;
  height: 470px;
}
.text-info p {
  order: 3;
  width: 80%;
  max-height: 350px;
  text-align: center;
}
section#bottom .container h1 {
  font-size: 18px;
}

section#bottom .container {
  display: flex;
  justify-content: center;
}
}
